<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <% include ./partials/header %>
        <div class="central">
            <h1>Express Movies : le site des cinéphiles</h1>
            <div>
                Êtes-vous plutôt Films ou séries ?  Peu import, vous trouverez votre bonheur dans les 2 cas!
            </div>
        </div>
		<footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>