<!DOCTYPE html>
	<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Express Movies</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
        <% include ./partials/header %>
		<div class="central">
			<h1><%= title %></h1>
			<br>
			<div id="login">
				<form action="/login" method="post">
					<legend>Veuillez saisir vos identifiants</legend>
					<label for="email">email</label>
					<input type="text" name="email" id="email">
					<label for="password">mot de passe</label>
					<input type="password" name="password" id="password">
					<button type="submit">connexion</button>
				</form>
			</div>
			<div id="logout" style='display:none'>
				<button id="disconnectBtn">Déconnexion</button>
				<button id="displayPlayloadBtn">voir Token</button>
				<div id="decoded-payload"></div>
			</div>
		</div>
		<footer>
			<% include ./partials/footer %>
		</footer>
		<script>
			var form = document.querySelector('form');
			form.addEventListener("submit", loginUser);

            var loginArea = document.querySelector('#login');
			var logoutArea = document.querySelector('#logout');
			var connectionLinkArea = document.querySelector('#connectionLink');

			var disconnectBtn = document.querySelector('#disconnectBtn');
			disconnectBtn.addEventListener("click", logoutUser);

			var displayPlayloadBtn = document.querySelector('#displayPlayloadBtn');
			displayPlayloadBtn.addEventListener("click", displayPayload);

			if(localStorage.getItem('token')) {
				switchToLogoutMode();
            } else {
                switchToLoginMode();
			}

			function loginUser(event) {
				if(window.fetch) {
					loginUserWithFetch(event);
				} else {
					loginUserWithXHR(event);
				}
			}

			function logoutUser(event) {
				localStorage.removeItem('token');
				switchToLoginMode();
			}

            function loginUserWithFetch(event) {
                event.preventDefault();
				console.log('loginUserWithFetch()');

                fetch('/login', {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(checkStatus)
                .catch(function(error) {
                    console.log('request failed', error)
                });
			}

            function checkStatus(response) {
                if (response.status >= 200 && response.status < 300) {
					console.log(response);
					response.text().then(function(text) {
						storeToken(text);
    				});
                    form.reset;
                }
            }

			function loginUserWithXHR(event) {
				event.preventDefault();
                console.log('loginUserWithXHR');

				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				var xhr = new XMLHttpRequest();
				xhr.open("POST", '/login', true);

				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

				xhr.onreadystatechange = function() {//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						useResult(xhr.response);
   						form.reset();
					}
				}
				var email = document.getElementById('email').value;
				var password = document.getElementById('password').value;
				var payLoad = "email=" + email + "&" + "password=" + password;
				xhr.send(payLoad);
			}

			function storeToken (token) {
				console.log(token);
				localStorage.setItem('token', token);
				switchToLogoutMode();
			}

			function switchToLoginMode () {
				loginArea.style.display = 'block';
				logoutArea.style.display = 'none';
				connectionLinkArea.innerHTML = '<a href="/login">Connexion</a>';
			}

			function switchToLogoutMode () {
				loginArea.style.display = 'none';
				logoutArea.style.display = 'block';
				connectionLinkArea.innerHTML = '<a href="/login">déconnexion</a>';
			}

			function displayPayload (event) {
				var payload = parseJwt();
				var decodedPayloadDiv = document.querySelector('#decoded-payload');
				decodedPayloadDiv.innerHTML = '<pre>' + JSON.stringify(payload) + '</pre>';
			}

			function parseJwt () {
				var tokenFromStorage = localStorage.getItem('token');
				if (tokenFromStorage) {
					var base64Payload = tokenFromStorage.split('.')[1];
					return JSON.parse(window.atob(base64Payload))
				} else {
					return 'not token to parse'
				}
			}
		</script>
	</body>
</html>