<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <% include ./partials/header %>
        <div class="central">
            <h1>Film (<%= movieId %>)</h1>
            <div>
                <form action="/movies/<%= movieId %>" method="post">
                    <label for="movieTitle">Titre du film</label>
                    <input type="text" name="movieTitle" id="movieTitle" value="<%= movieTitle %>">
                    <label for="movieYear">Année du film</label>
                    <input type="text" name="movieYear" id="movieYear" value="<%= movieYear %>">
                    <button type="submit">Modifier</button>
                </form>
                <button id="btnSuppr">Supprimer</button>
            </div>
        </div>
        <% include ./partials/footer %>
        <script>
            const btnSuppr=document.querySelector('#btnSuppr');
            btnSuppr.addEventListener('click', deleteMovie);

            function deleteMovie () {
                var movieId = '<%= movieId %>';
                var url = '/movies/' + movieId;
                axios.delete(url)
                .then(function(response) {
                    window.location = "/movies"
                })
                .catch(function (error) {
                    console.error(error);
                });

            }
        </script>
    </body>
</html>