<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <% include ./partials/header %>
        <div class="central">
            <h1>Recherche de film</h1>
            <div>
                <label for="movieTitle">Titre du film</label>
                <input type="text" name="movieSearch" id="movieSearch">
                <button id="btnSearch">Recherche</button>
            </div>
            <div id="results">
            </div>
        </div>
        <% include ./partials/footer %>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const API_KEY="a8541ee8be70c64464527f3fbf480f7f"
            const btnSearch=document.querySelector('#btnSearch');
            const txtSearch=document.querySelector('#movieSearch');
            btnSearch.addEventListener('click', search);

            function search() {
                const query = `http://api.themoviedb.org/3/search/movie?api_key=${API_KEY}&language=fr-FR&query=${txtSearch.value}`
                axios.get(query)
                .then(function (response) {
                    console.log(response);
                    displayResults(response.data.results);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }

            function displayResults(results) {
                let resultsDiv=document.querySelector('#results');
                resultsDiv.innerHTML = '';
                for(let result of results) {
                    let movieDiv = document.createElement('div');
                    movieDiv.innerHTML = result.title;
                    resultsDiv.appendChild(movieDiv);
                }

            }
        </script>
		<footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>