<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <% include ./partials/header %>
        <div class="central">
            <h1><%= title %></h1>
            <div class="french-movies">
                <% for(movie of movies) { %>
                    <div><a href="/movies/<%= movie.id %> "><%= movie.title %> - <%= movie.year %></a></div>
                <% } %>
            </div>
            <br>
            <div>
                <form action="/movies" method="post">
                    <label for="movieTitle">Titre du film</label>
                    <input type="text" name="movieTitle" id="movieTitle">
                    <label for="movieYear">Année du film</label>
                    <input type="text" name="movieYear" id="movieYear">
                    <button type="submit">ajouter</button>
                </form>
            </div>
        </div>
		<footer>
            <% include ./partials/footer %>
        </footer>
        <script>

            const form = document.querySelector('form');
            form.addEventListener('submit', addmovie);

            function addmovie(event) {
                event.preventDefault();
				if(window.fetch) {
					addMovieUsingFetch(event);
				} else {
					addMovieUsingXHR(event);
				}

            };

            function addMovieUsingFetch(event) {
                console.log('using addMovieUsingFetch()');
                event.preventDefault();
                fetch('/movies', {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(checkstatus)
                .catch(function(error) {
                    console.log('request failed', error)
                });
            };

            function checkstatus(response) {
                if (response.status >= 200 && response.status < 300) {
                    let newMovieDiv = document.createElement('div');
                    const movieTitle = document.getElementById('movieTitle').value;
                    const movieYear = document.getElementById('movieYear').value;
                    newMovieDiv.innerHTML = `${movieTitle} - ${movieYear}`;
                    document.querySelector('.french-movies').appendChild(newMovieDiv);
                    form.reset();
                }
            };

            function addMovieUsingXHR(event) {
				// this browser does NOT support fetch. Fall back to XHR
				event.preventDefault();
				console.log('using addMovieUsingXHR()');
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				var xhr = new XMLHttpRequest();
				xhr.open("POST", '/movies', true);
				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						form.reset();
					}
				}
				// https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects
				console.log('form: ', form);
				var movietitle = document.getElementById('movietitle').value;
				var movieyear = document.getElementById('movieyear').value;
				var payLoad = "movietitle=" + movietitle + "&" + "movieyear=" + movieyear;
				xhr.send(payLoad);
            };

        </script>
    </body>
</html>
