<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <% include ./partials/header %>
        <div class="central">
            <h1>zone sécurisée de <%= user %></h1>
            <div>
                Tant de choses à dire!
            </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>