vrrp_script reload_haproxy {
		script "/usr/bin/killall -0 haproxy"
		interval 10
}

vrrp_instance VI_1 {
   virtual_router_id 100
   state {{ keepalived_state }}
   priority 100

   # interval de check
   advert_int 1

   # interface de synchro entre les LB 
   lvs_sync_daemon_interface eth0
   interface eth0

   # authentification entre les 2 machines LB
   authentication {
		auth_type PASS
		auth_pass secret
   }

   # vip
   virtual_ipaddress {
		172.17.0.110/32 brd 172.17.0.255 scope global
   }

   track_script {
	   reload_haproxy
   }

}
