<!DOCTYPE html>
<html>
<head>
    <title>Welcome to myapp !</title>
</head>
<body>
    <h1>Welcome to myapp !</h1>
    <p>
    forward ip : {{ forwardIP }}<br>
    proxy ip : {{ proxyIP }}<br>
    hostname : {{ hostname }}<br>
    platform : {{ platform }}<br>
    browser : {{ browser }}<br>
    path: {{ path }}<br>
    </p>
</body>
</html>
