<div>
    <div>
        <a href="/">Express movies</a>
        &nbsp;
        <a href="/movies">Films</a>
        &nbsp;
        <a href="/movie-search">Recherche</a>
        &nbsp;
        <a href="#" id="member-only">Private</a>
        &nbsp;
        <span id="connectionLink" ><a href="/login">Connexion</a></span>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        var memberOnly = document.querySelector('#member-only');
        memberOnly.addEventListener('click', makeRequestWithToken);

        function makeRequestWithToken(event) {
            event.preventDefault();
            var page = '/private';
            var tokenFromStorage = localStorage.getItem('token');
            var config = {};

            if (tokenFromStorage) {
                config.headers = {'Authorization': 'Bearer ' + JSON.parse(tokenFromStorage)};
            }

            axios.get(
                'http://localhost:3000' + page,
                config
            ).then(function(res) {
                console.log('success');
                console.log(res.data);
                document.body.innerHTML = res.data;
            }).catch(function(err) {
                console.log('makeRequestWithToken erreur : ' + err);
            });
        }
    </script>
</div>