<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link rel="stylesheet" href="style.css"/>

  <title>Messagerie</title>
</head>

<body ng-app="Webmail" ng-controller="WebmailCtrl">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" style="cursor: default"><img src="logo.png" width="80" height="30" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" ng-class="{ active: vueCourante == 'vueNouveauMail' }">
            <a class="nav-link" href="#/NEWMAIL"><span class="far fa-edit"></span></a>
          </li>
          <li class="nav-item" ng-repeat="dossier in dossiers" ng-class="{ active: vueCourante == 'vueDossier' && dossier.value == dossierCourant.value }">
            <a class="nav-link" href="#/{{dossier.value}}">{{dossier.label}}
              <span class="badge badge-primary" ng-show="dossier.needsUpdate">new</span>
            </a>
          </li>
      </ul>
    </div>

    <form class="form-inline my-2 my-lg-0"  ng-show="dossierCourant != null && emailsFiltres">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Recherche" ng-model="recherche">
      <button class="btn btn-dark my-2 my-sm-0" ng-click="razRecherche()"><span class="fas fa-times"></span></button>
    </form>

  </nav>

  <div class="container">

      <div class="text-center spacer" ng-show="vueCourante == 'vueDossier' && !emailsFiltres">
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    <diV ng-show="vueCourante == 'vueDossier' && emailsFiltres">

      <table class="table table-striped table-hover spacer">
        <thead>
          <tr>
            <th class="colDe">
              <a ng-click="triEmails('from')">
                De
                <span ng-class="cssChevronsTri('from')"></span>
              </a>
            </th>
            <th class="colA">
              <a ng-click="triEmails('to')">
                &Agrave;
                <span ng-class="cssChevronsTri('to')"></span>
              </a>
            </th>
            <th class="colObjet">
                <a ng-click="triEmails('subject')">
                  Objet
                  <span ng-class="cssChevronsTri('subject')"></span>
                </a>
            </th>
            <th class="colDate">
                <a ng-click="triEmails('date')">
                  Date
                  <span ng-class="cssChevronsTri('date')"></span>
                </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="email in emailsFiltres = (dossierCourant.emails | filter:recherche) | orderBy:champTri:triDescendant" class="clickable" ng-click="versEmail(dossierCourant, email)">
            <td ng-bind-html="email.from | surbrillanceRecherche:recherche"></td>
            <td ng-bind-html="email.to | surbrillanceRecherche:recherche"></td>
            <td ng-bind-html="email.subject | surbrillanceRecherche:recherche"></td>
              <td>{{email.date | date:'dd/MM/yyyy HH:mm'}}</td>
          </tr>
        </tbody>
      </table>

      <div class="alert alert-info">Le dossier contient {{emailsFiltres.length}} mails.</div>

    </diV>

    <contenu-mail ng-show="vueCourante == 'vueMail'" email="emailSelectionne"></contenu-mail>

    <nouveau-mail ng-show="vueCourante == 'vueNouveauMail'" envoi-mail="envoiMail(nouveauMail)"></nouveau-mail>

  </div>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Angular JS -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-resource.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.2.29/i18n/angular-locale_fr-fr.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="MailServiceMock.js"></script>
  <script type="text/javascript" src="MailServiceHttp.js"></script>
  <script type="text/javascript" src="MailServiceRest.js"></script>
  <script type="text/javascript" src="Mesfiltres.js"></script>
  <script type="text/javascript" src="MesDirectives.js"></script>

  <!-- Socket.io -->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

</body>

</html>
